@-webkit-keyframes rotate360 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate360 {
0% { -moz-transform: rotate(0deg); }
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes rotate360 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes rotate360 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes rotate360 {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg);}
} 
#landing{
  margin-top:100px;
  position:relative;
  .animate{
    position:absolute;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width:650px;
    height:650px;
    -webkit-animation: rotate360 30s infinite linear;
    -moz-animation: rotate360 30s infinite linear;
    -o-animation: rotate360 30s infinite linear;
    -ms-animation: rotate360 30s infinite linear;
    animation: rotate360 30s infinite linear;
  }
}
