#products{
  background:#f1eee1;
  .header{
    text-align:center;
    padding-top:84px;
    .brand{
      margin-right:12px;
    }
    .split{
      width:640px;
      border-bottom:1px solid #999;
      height:0px;
      margin:0 auto;
      padding-top:5px;
    }
    .sub-menu{
      a{
        color:#999;
        text-decoration:none;
        padding:0px 20px;
        &:hover{
        text-decoration:underline;
        }
      }
    }// .sub-menu

  }// END .header
  .gallery-outer{
    margin-top:77px;
    height:580px;
    position:relative;

    .prod-section{
      display:none;
      &.active{
        display:block;
      }
    }// .prod-section

    #prod-ad{
      .image-gallery{
        font-size:0px;
        text-align:center;
        li{
          display:inline-block;
          padding:5px;
        }
      }
    }// #prod-ad

  }// .gallery-outer
}// END #products
