#products{
  background:#f1eee1;
  .header{
    text-align:center;
    padding-top:84px;
    .brand{
      margin-right:12px;
    }
    .split{
      width:640px;
      border-bottom:1px solid #999;
      height:0px;
      margin:0 auto;
      padding-top:5px;
    }
    .sub-menu{
      a{
        color:#999;
        text-decoration:none;
        padding:0px 20px;
        &:hover{
        text-decoration:underline;
        }
        &.active{
          color:#a89d6b;
        }
      }// .a
    }// .sub-menu

  }// END .header
  .gallery-outer{
    margin-top:77px;
    height:580px;
    position:relative;

    .prod-section{
      display:none;
      &.active{
        display:block;
      }

      .prod-series-section{
        display:none;
        &.active{
          display:block;
        }

        .video-wrapper{
          width:680px;
          margin:0 auto;
          .left{
            width:140px;
            height:410px;
            margin-right:-4px;
            .video-nav{
              img{
                margin-bottom:1px;
              }
            }
            .jspVerticalBar{
              right:5px;
            }
            .jspVerticalBar{
              background:none;
            }
            .jspTrack{
              background:#ccc;
            }
            .jspDrag{
              background:#a1955f;
            }
          }// .left
        }// .video-wrapper
      }// .prod-series-section
    }// .prod-section

    #prod-seasons{
      .image-gallery{
        font-size:0px;
        text-align:center;
        li{
          display:inline-block;
          padding:5px;
          cursor:pointer;
          vertical-align:top;
          .wrapper{
            .series{
              width:221px;
              height:336px;
            }
            &:hover{
              .outer{
                opacity:100;
                transition:all 1s ease;
              }
            }// .wrapper:hover
            .outer{
              opacity:0;
              height:60px;
              .txt{
                font-size:10px;
                color:#999;
              }
              .split{
                width:160px;
                margin:0 auto;
                height:0px;
                line-height:0px;
                border-bottom:1px solid #999;
              }
            }// .outer
          }// .wrapper
          &.top{
            .series{
              margin-top:10px;
            }
            .outer{
              margin-top:10px;
            }
          }// .top
          &.bottom{
            .outer{
              margin-bottom:10px;
            }
          }
        }// .li
      }// .image-gallery
    }// #prod-seasons

  }// .gallery-outer
}// END #products
