.top-nav{
  height: 100px;
  position:fixed;
  background:#fff;
  width:100%;
  top:0px;
  z-index:900;
  box-shadow:0px 1px 5px #ccc;
  .top-menu-toggle{
    display:none;
  }

  .brand{
    margin-left:50px;
    float:left;
  }
  .top-menu{
    list-style:none;
    margin:0;
    padding:0;
    width:1000px;
    margin:0 auto;
    font-family:thex;
    li{
      list-style: none;
      display: inline-block;
      line-height: 100px;
      margin-left:50px;
      &.no-marge{
        margin-left:0px;
      }
      a{
        color:#333;
        font-size:12px;
        text-decoration: none;
        //margin-top:26px;
        &:hover{
          text-decoration: underline;
        }
      }
    }// END li
  }// END .top-menu
  .icons{
    list-style:none;
    margin:0;
    padding:0;
    position:absolute;
    right:20px;
    top:0;
    
    li{
      list-style: none;
      display: inline-block;
      line-height: 100px;
      a{
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-left:6px;
        margin-top:34px;
      }// END a
      .qq{
        background:url(../img/QQ.png);
        &:hover{
          background:url(../img/QQ_V.png);
        }
      }
      .xinlang{
        background:url(../img/WX.png);
        &:hover{
          background:url(../img/WX_V.png);
        }
      }
      .weixin{
        background:url(../img/XL.png);
        &:hover{
          background:url(../img/XL_V.png);
        }
      }
    }// NED li
  }// END .icons

  .search{
    display: inline-block;
    height: 100px;
    margin-left:24px;
    margin-right:60px;
    position:absolute;
    left:0;
    top:0;
    .search-box{
      margin-right:10px;
      width:0px;
      border:0px;
      padding:0;
      height:25px;
      //border:1px solid #333;
      background:#333;
      color:#fff;
    }
    .search-icon{
      display: inline-block;
      margin-top:34px;
      width: 25px;
      height: 25px;
      line-height: 25px;
      background:url(../img/SOSUO.png) no-repeat;
      margin-bottom:-10px;
      &:hover{
        background:url(../img/SOSUO_V.png) no-repeat;
      }
    }

  }//END .search

}// END .top-nav
