@font-face {
  font-family: didot-bold;
  src: url(../fonts/Didot_Bold.ttf);
}
@font-face {
  font-family: didot;
  src: url(../fonts/Didot.ttf);
}
@font-face {
  font-family: didot-htf-m96-medium-ital;
  src: url(../fonts/didot-htf-m96-medium-ital.ttf);
}
@font-face {
  font-family: thex;
  src: url(../fonts/HelveticaNeueLTPro-ThEx.otf);
}

.row{
  width:100%;
}
ul,li{
  list-style:none;
  margin:0;
  padding:0;
}
.page-section{
  height:900px;
  .content,.container{
    width:1000px;
    margin:0 auto;
  }
}
.img-bg{
  display:none;
}
html{
  width:100%;
  body{
    width:100%;
    
  }
}

@import "_fonts";
@import "_top_nav";
@import "_about";
