- var navItems = ['BRAND POSITIONING','BRAND CONCEPT','BRAND INTRODUCTION','BRAND STYLE']
.row.page-section.img-liquid-fill#about
  img(src="img/about-bg.png")
  .container
    ul.left-nav
      li.ft-STHeiti 关于紫淑
      li.ft-thex ABOUT US
      li.split.ft-dodit ’
      each val,idx in navItems
        - var id = val.toLowerCase().replace(' ','-')
        if idx == 0
          li.item.fz-12.active
            img(src="img/nav-selected-icon.png")
            a.ft-arial(href='javascript:void(0)' "data-ref"='#{id}')= val
        else
          li.item.fz-12
            img(src="img/nav-selected-icon.png")
            a.ft-arial(href='javascript:void(0)' "data-ref"='#{id}')= val
    .details-outer
      each val,idx in navItems
        - var id = val.toLowerCase().replace(' ','-')
        if idx == 0
          .scrollable.active(id='#{id}')
            p 杭州公司
            p 公司在创立之初就强烈的意识到品牌化经营的重要性和趋势性，因此，在发展过程坚持从长远的角度来规划公司的运营方式和品牌的发展之路。在这种创业思路的指引下，公司汇聚了一大批优秀人才，其中包括一支以杭州十佳设计师领衔的设计师团队、专业的企业管理人才和一大批优秀服饰代理商。经过紫淑人的不懈努力，公司在短短几年时间内取得了迅速发展，尤其在2004年之后，更是进入了上升的快速通道，销售额和网点数量每年以超过30%的速度攀升，到2006年，已在国内十几个省份拥有专卖网点200多家。逐渐杭州鲲鹏服饰有限公司
            p 公司在创立之初就强烈的意识到品牌化经营的重要性和趋势性，因此，在发展过程坚持从长远的角度来规划公司的运营方式和品牌的发展之路。在这种创业思路的指引下，公司汇聚了一大批优秀人才，其中包括一支以杭州十佳设计师领衔的设计师团队、专业的企业管理人才和一大批优秀服饰代理商。经过紫淑人的不懈努力，公司在短短几年时间内取得了迅速发展，尤其在2004年之后，更是进入了上升的快速通道，销售额和网点数量每年以超过30%的速度攀升，到2006年，已在国内十几个省份拥有专卖网点200多家。逐渐杭州鲲鹏服饰有限公司
        else
          .scrollable(id='#{id}')
            p 杭州公司
            p 公司在创立之初就强烈的意识到品牌化经营的重要性和趋势性，因此，在发展过程坚持从长远的角度来规划公司的运营方式和品牌的发展之路。在这种创业思路的指引下，公司汇聚了一大批优秀人才，其中包括一支以杭州十佳设计师领衔的设计师团队、专业的企业管理人才和一大批优秀服饰代理商。经过紫淑人的不懈努力，公司在短短几年时间内取得了迅速发展，尤其在2004年之后，更是进入了上升的快速通道，销售额和网点数量每年以超过30%的速度攀升，到2006年，已在国内十几个省份拥有专卖网点200多家。逐渐杭州鲲鹏服饰有限公司
            p 公司在创立之初就强烈的意识到品牌化经营的重要性和趋势性，因此，在发展过程坚持从长远的角度来规划公司的运营方式和品牌的发展之路。在这种创业思路的指引下，公司汇聚了一大批优秀人才，其中包括一支以杭州十佳设计师领衔的设计师团队、专业的企业管理人才和一大批优秀服饰代理商。经过紫淑人的不懈努力，公司在短短几年时间内取得了迅速发展，尤其在2004年之后，更是进入了上升的快速通道，销售额和网点数量每年以超过30%的速度攀升，到2006年，已在国内十几个省份拥有专卖网点200多家。逐渐杭州鲲鹏服饰有限公司
           
    

