- var refImgs = ['img/prod-1.jpg','img/prod-2.png']
.row.page-section#products
  .header
    img.brand(src="img/prod-brand.png")
    .split
    .sub-menu
      a.fz-12(href="javascript:void(0)" data-ref="prod-ad") AD CAMPAIGN
      a.fz-12(href="javascript:void(0)" data-ref="prod-collocation") COLLOCATION
      a.fz-12(href="javascript:void(0)" data-ref="prod-video") VIDEO
  .gallery-outer
    .prod-section.active#prod-ad
      ul.image-gallery
        li.bottom
          .top-span
          img(src="img/prod-1.jpg")
          .bottom-span
        li.top
          img(src="img/prod-2.png")
        li.bottom
          .outer
            img(src="img/camera.png")
            .split
            .txt 2014 SUMMER
          img(src="img/prod-1.jpg")
        li.top
          img(src="img/prod-2.png")
        
    .prod-section.prod-gallery#prod-collocation
      .prod-container
        ul#prod-collocation-list
          - for (var i = 0; i < 20;i++)
            li(data-ref=refImgs[i%2])
              a(href="javascript:void(0)")
                img(src=refImgs[i%2])

    .prod-section#prod-video
    




