- var imgs = ['prod-1.jpg','prod-2.jpg','prod-1.jpg','prod-2.jpg']
.row.page-section#products
  .header
    img.brand(src="img/product-show-brand.png")
    a#prod-up
      img(src="img/cycle-arrow-up.png")
    a#prod-down
      img(src="img/cycle-arrow-down.png")
  .gallery-outer
    - for (var i = 0; i < 5 ; i++)
      ul.img-gallery
        li
        




