- var refImgs = ['img/prod-1.jpg','img/prod-2.png']
.row.page-section#products
  .header
    img.brand(src="img/prod-brand.png")
    .split
    .sub-menu
      a.fz-12(href="javascript:void(0)" data-ref="prod-ad") AD CAMPAIGN
      a.fz-12(href="javascript:void(0)" data-ref="prod-collocation") COLLOCATION
      a.fz-12(href="javascript:void(0)" data-ref="prod-video") VIDEO
  .gallery-outer
    .prod-section#prod-ad
    .prod-section.prod-gallery.active#prod-collocation
      .prod-container
        ul#prod-collocation-list
          - for (var i = 0; i < 20;i++)
            li(data-ref=refImgs[i%2])
              a(href="javascript:void(0)")
                img(src=refImgs[i%2])

    .prod-section#prod-video
    




