.row.page-section.img-liquid-fill#show-room
  img(src="img/ZISHU5_02.jpg")
  .container
    .left.fl
      img.brand(src="img/ZISHU5_15.jpg")
      select#sel-address
        - for (var i = 0;i<10;i++)
          option(value=i data-en="Hangzhou Wulin 169" data-zh="杭州武林店169号") 浙江省杭州市#{i}
      span.address-zh
      sapn.address-en
    .image-wrapper.fl



