.top-nav
  ul(class="top-menu")
    li.no-marge
      a(href="#home" "data-zh"="首页") HOME
    li
      a(href="#brand-profile" "data-zh"="品牌介绍") BRAND PROFILE
    li
      a(href="#products" "data-zh"="产品展示") PRODUCTS
    li
      img(src="img/top_nav/logo.jpg")
    li
      a(href="#brand-news" "data-zh"="品牌新闻") BRAND NEWS
    li
      a(href="#shops" "data-zh"="形象展厅") STORE SHOPS
    li
      a(href="#contact-us" "data-zh"="联系我们") CONTACT US
  .search
    a(href="javascript:void(0)" class="search-icon")
    input.search-box#universal-search("data-show"=false)
  ul(class="icons")
    li
      a(href="#" class="qq")
    li
      a(href="#" class="weixin")
    li
      a(href="#" class="xinlang")

        
